@font-face {
  font-family: 'WindowsRegular';
  src: url('../font/Windows\ Regular.ttf') format('truetype');
}

body {
  font-family: 'WindowsRegular', sans-serif;
  background-color: #008080;
  color: #000;
  margin: 0;
  padding: 0;
  cursor: url('../img/cursor.cur'), auto;
  width: 1280px; /* Largura fixa */
  height: 800px; /* Altura fixa */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Impede que a página tenha barras de rolagem */

}
