@font-face {
  font-family: 'WindowsRegular';
  src: url('../font/Windows\ Regular.ttf') format('truetype');
}

body {
  font-family: 'WindowsRegular', sans-serif;
  background-color: #008080;
  color: #000;
  margin: 0;
  padding: 0;
  width: 1280px; /* Largura fixa */
  height: 800px; /* Altura fixa */
  margin: 0;
  padding: 0;
  overflow: hidden; 
}


body, .student-card {
  font-family: var(--font-family); /* Aplicando a fonte personalizada */
  color: var(--font-color); /* Cor da fonte */
  font-size: var(--font-size);
}


html{
  cursor: url('../img/mouse/handno-ezgif.com-ani-to-apng-converter.cur'), auto;

}

.cursorwait{
  cursor: url('../img/mouse/hourgla2_st.cur'), auto;        

}